<launch>
    <rosparam file="$(find custom_dynamixel_pack)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find custom_dynamixel_pack)/config/controllers.yaml" command="load"/>
    <node name="ROBOT_hardware_interface" pkg="custom_dynamixel_pack" type="custom_dynamixel_pack_node" output="screen"/>   

</launch>
